* {

    box-sizing: border-box;

    font-family: Arial, sans-serif;

}


body {

    margin: 0;

    background: #f4f4f4;

    color: #333;

    transition: .3s;

}



header {

    background: #4f46e5;

    color: white;

    padding: 30px;

    text-align: center;

}



button {

    padding: 10px 15px;

    margin: 5px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    background: #4f46e5;

    color: white;

}



nav {

    text-align: center;

    padding: 20px;

}



section {

    background: white;

    margin: 20px auto;

    padding: 25px;

    max-width: 900px;

    border-radius: 10px;

}




.card {

    background: #eeeeff;

    padding: 15px;

    margin: 15px 0;

    border-radius: 8px;

}




input {

    width: 80%;

    padding: 12px;

    margin: 10px;

}





.dark {

    background: #111;

    color: white;

}



.dark section {

    background: #222;

}


.dark .card {

    background: #333;

}



footer {

    text-align: center;

    padding: 20px;

    background: #111;

    color: white;

}